*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #222;
}
.clrbtn{
    width: 60%;
    max-width: 470px;
    height: 40px;
    border: 0;
    outline: 0;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 35px;
    padding: 10px 25px;
    background-color: lightgreen;
}
.clrbtn:hover{
    background-color: gray;
}