<!DOCTYPE html>
<html lang="en">
<head>`
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>history</title>
    <link rel="stylesheet" href="/public/history.css">
</head>
<body>
    <div class="container">
       
       
        <table class="table" border="3" width = "600" height = "600" align="center" style="color: white;" >
           
        </table>
        <button class="clrbtn">Clear history</button>
    </div>
    <script>
        const table = document.querySelector(".table");
       const clrBtn = document.querySelector(".clrbtn");
        window.addEventListener("load",() =>{
            const localArray = localStorage.getItem("array");
            if(!localArray){
                return table.innerHTML = "<tr><td>you haven't searched anything yet</td></tr>"
            }
            const parseArray = JSON.parse(localArray);
            table.innerHTML = `<tr><th>Search history</th></tr>`
            for(let i = parseArray.length-1;i>=0;i--){
                console.log(parseArray[i])
                table.innerHTML += `
                <tr><td>${parseArray[i]}</td></tr>`
            }
            
        })
        clrBtn.addEventListener("click",() =>{
            localStorage.removeItem("array");
            location.reload(true)
        })
        
        

    </script>
</body>
</html>