<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/signup.css">
</head>
<body>
    <div class="container">
        <div class="top-headings">
            <h2>Sign Up</h2>
            <p>Register To Start</p>
        </div>
        
        <div class="fill">
            <label for="fullname">FullName:</label>
            <input class="inpFullName"  type="text" placeholder="Enter your fullname">
        </div>
        <div class="errorFullName"></div>
        
        <div class="fill">
            <label for="email">Email:</label>
            <input class="inputemail" type="email" placeholder="Enter your Email">
        </div>
        <div class="errorEmail"></div>
        <div class="fill">
            <label for="password">Password:</label>
            <input class="inputpassword" type="password" placeholder="Enter your password">
        </div>
        <div class="errorPassword"></div>
        <button class="signup-btn">Sign Up</button>
        

    </div>
    <script>
        const inpFullName = document.querySelector(".inpFullName");
        const inpEmail = document.querySelector(".inputemail");
        const inpPassword = document.querySelector(".inputpassword");
        const inputArea = document.querySelectorAll(".fill");
      
        const errorMessageName = document.querySelector(".errorFullName");
        const errorMessageEmail = document.querySelector(".errorEmail");
        const errorMessagePassword = document.querySelector(".errorPassword")
        const submitBtn = document.querySelector(".signup-btn");

        function validateEmail(email){
            const regex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/g;
            return regex.test(email);
        }
        
        
        
      
        const [fill1,fill2,fill3] = inputArea;
        fill1.addEventListener("mouseleave",() =>{
            errorMessageName.style.display = "block";
            const fullNameValue = inpFullName.value;
            if(fullNameValue == "" || !fullNameValue.length >= 4){
                fill1.style.borderColor = "red";
                
                errorMessageName.innerHTML = "cannot be identified as human name";
            }else{
                errorMessageName.style.display = "none";
            }
        })
        fill2.addEventListener("mouseleave",() =>{
            errorMessageEmail.style.display = "block";
            const EmailValue = inpEmail.value;
            if( EmailValue == "" || !validateEmail(EmailValue) ){
                errorMessageEmail.innerHTML = "Email is not verified"
            }else{
                errorMessageEmail.style.display = "none";
            }
        })
        fill3.addEventListener("mouseleave",() =>{
            errorMessagePassword.style.display = "block";
            const passwordValue = inpPassword.value;
            if(passwordValue == "" || passwordValue.length <=4){
                errorMessagePassword.innerHTML = "Enter verified password";
            }else{
                errorMessagePassword.style.display = "none";
            }

        })
        submitBtn.addEventListener("click",() =>{
            const fullName = inpFullName.value;
            const email = inpEmail.value;
            const password = inpPassword.value;
            if(!fullName || !email || !password){
                errorMessageName.style.display = "block";
                errorMessageName.innerHTML = "pls check all fields";
                return;
            }else{
                let usersArray = localStorage.getItem("users");
                if(usersArray){
                    const userParse = JSON.parse(usersArray);
                    for(let i = 0;i<userParse.length;i++){
                        if(userParse[i].name == fullName && userParse[i].email == email && userParse[i].password == password ){
                            errorMessageName.style.display = "block";
                            errorMessageName.innerHTML = "user already exist";
                            return ;

                        }else{
                            const array = [];
                       const object = {
                            name:fullName,
                            email:email,
                            password:password
                        }
                
                        array.push(object);
                        const strArray = JSON.stringify(array);
                        localStorage.setItem("users",strArray);

                      }
                    }
                }else{
                    const array = [];
                const object = {
                    name:fullName,
                    email:email,
                    password:password
                }
                
                array.push(object);
                const strArray = JSON.stringify(array);
                localStorage.setItem("users",strArray);
                }

                
               
            }

        })


        
    </script>
</body>
</html>