*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #222;
}
.container{
    width: 90%;
    max-width: 400px;
    height: 380px;
    background-color: white;
    color: black;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;


}
.top-headings{
    text-align: center;
    
}
.top-headings h2{
    font-size: 30px;
    font-weight: 600;

}
.top-headings p{
    margin-top: 5px;
}
.fill{
    display: flex;
    flex-direction: column;
    margin: 25px auto;
}
.fill label{
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
    margin-left: 6px;

}
.fill input{
    width: 350px;
    height: 35px;
    padding: 10px;
    outline: 0;
    border-radius: 15px;
    color: black;
}
